# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Folders (!)
.solution
Release
Source/Boost
Source/DirectX
Source/libs

